.search-bar-container{
  display: flex;
  justify-content: center;
  margin:5px;
  color: rgb(255, 133, 133);
}
.search-cnt{
  min-width: 400px;


}
.input-searchbar-cnt{
  width: 300px;
  float: left;
}

.searchicon{
  padding: 0px 16px;
  float: left;
  position: relative;
}